<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>User List</h1>

    <ul>
      <% users.map((user) =>{ %>
      <li><%= user.name %> (Age: <%= user.age %>)</li>
      <% }) %>
    </ul>
  </body>
</html>
